<footer>
	<div class="naw">
		{% for element in menu.items %}
			<li id="bottomlist">
				<a href="{{element.url}}">{{element.name}}</a>
			</li>
		{% endfor %}
	</div>
	<div class="kont">
		<ul>
			<li>Numer telefonu:
				<a href="tel:123456789">123456789</a>
			</li>
			<li>Mail:
				<a href="mail:admin@admin.pl">admin@admin.pl</a>
			</li>
			<li><a target="_blank" href="https://tiny.pl/c15qp">Adres: Mikorzyn 123 63-600 Kępno</a></li>
		</ul>
	</div>
</footer>
