<footer>
	<div class="navbar">
		{% for element in menu.items %}
			<li id="bottomlist">
				<a href="{{element.url}}">{{element.name}}</a>
			</li>
		{% endfor %}
	</div>
	<div class="contact-footer">
		<ul>
			<li>
				<span>Numer telefonu:
				</span>
				<a href="tel:123456789">123456789</a>
			</li>
			<li>
				<a target="_blank" href="https://tiny.pl/c15qp">Adres: Mikorzyn 123 63-600 Kępno</a>
			</li>
		</ul>
	</div>
</footer>
