<nav>
	<a href="http://localhost:3000/"><img src="{{theme.link}}\dist\images\unnamed.png" id="image"></a>
	<ul>
		{% for element in menu.items %}
			<li>
				<a href="{{element.url}}">{{element.name}}</a>
			</li>
		{% endfor %}
	</ul>
</nav>
