.allblocks {
  display: flex;
  justify-content: center;
  height: 60%;
  position: relative;
}

#slider {
  padding-top: 10px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(107, 107, 107, 0.5);
}

.arrow {
  width: 30px;
  box-shadow: 0px 5px 10px rgba(107, 107, 107, 0.5);
}
.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 2vw;
}
.ico {
  height: 50px;
}
.latest-projects {
  padding-top: 4%;
  display: flex;
  justify-content: space-around;
}
.ex {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  min-height: 300px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(107, 107, 107, 0.5);
  border-radius: 10px;
}
.title {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif !important;
  color: #333;
  font-weight: 500;
  font-size: 20px;
}
.all-contacts {
  display: flex;
  margin: 2%;
  justify-content: space-around;
}
.contact-me-block {
  display: flex;
  justify-content: center;
  min-height: 200px;
  box-shadow: 0px 5px 10px rgba(107, 107, 107, 0.5);
  width: 60%;
  border-radius: 20px;
}
#name {
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(182, 218, 252);
}
#name-lg {
  border-radius: 20px;
  margin: 10px;
  height: 120px;
  border: 1px solid rgb(182, 218, 252);
}
.social {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(107, 107, 107, 0.5);
}
#socialimg {
  width: 100px;
}
.titleor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif !important;
  color: #333;
  font-weight: 500;
  font-size: 20px;
}
.button-send {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif !important;
  color: #333;
  border: 1px solid rgb(182, 218, 252);
  padding: 4px;
  width: 100px;
  border-radius: 30px;
}
.button-send:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif !important;
  color: #ffffff;
  background-color: rgb(182, 218, 252);
  padding: 4px;
  width: 100px;
  border-radius: 30px;
  cursor: grab;
}
.social:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(107, 107, 107, 0.5);
  background-color: rgb(182, 218, 252);
}
/* Dla ekranów o szerokości do 480px (mobilne) */
@media screen and (max-width: 480px) {
  .allblocks {
    height: auto;
  }

  #slider {
    width: 150px;
    height: 150px;
  }

  .tech {
    margin: 0;
    gap: 10px;
    flex-direction: column;
  }

  .techstack {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 16px;
  }

  .ico {
    height: 30px;
  }

  .latest-projects {
    flex-direction: column;
  }

  .ex {
    max-width: 100%;
  }

  .title {
    font-size: 16px;
    margin: 2% 0;
  }

  .all-contacts {
    flex-direction: column;
  }

  .contact-me-block {
    width: 100%;
  }

  #name {
    width: 90%;
  }

  #name-lg {
    width: 90%;
    height: 80px;
  }

  .titleor {
    font-size: 16px;
  }

  .button-send {
    padding: 2px;
    width: 80px;
    border-radius: 20px;
  }

  .button-send:hover {
    background-color: rgb(182, 218, 252);
  }

  .social {
    width: 100px;
    height: 100px;
    margin: 20px;
  }

  .titleor {
    font-size: 16px;
  }

  .button-send {
    padding: 2px;
    width: 80px;
    border-radius: 20px;
    margin: 5px;
  }

  .button-send:hover {
    background-color: rgb(182, 218, 252);
  }

  /* Pozioma linia dla ikon mediów społecznościowych */
  .social {
    display: inline-block;
    margin: 20 10px; /* Dodajemy odstęp między ikonami */
  }

  .social:hover {
    background-color: rgb(182, 218, 252);
  }
}
