main {
  display: flex;
  justify-content: center;

}
#slider {
  padding-top: 10px;
  width: 80%;
  height: 300px;
}
.right-side-page {
  padding: 30px;
  color: #333;
  float: right;
  background: #fbfbfb;
  height: 350px;
  width: 38%;
}
.left-side-page {
  padding: 30px;
  background-color: rgba(255, 183, 0, 0.04);
  float: left;
  height: 350px;
  width: 62%;
}

.image {
  width: 70px;
  height: 30px;
  padding-right: 30px;
  border-right: 1px solid #333;
}

.title {
  padding-top:20px ;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  font-size: 30px;
  padding-left: 30px;
}
.text {
  font-family: 'Montserrat', sans-serif !important;
  padding-left: 30px;
}

.block {
  width: 50%;
  padding-right: 30px;
}
.all_blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 5%;
}
.right-menu {
  width: 300px;
}
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
p {
  display: flex;
  justify-content: center;
}
.link {
  font-family: 'Montserrat', sans-serif !important;
  padding-top: 10px;
}
.next{
  font-family: 'Montserrat', sans-serif !important;
  margin: 15px;
   padding: 5px;
}
.prev{
  font-family: 'Montserrat', sans-serif !important;
  margin: 15px;
   padding: 5px;
}
.tplace{
  margin: 5%;
}