{% extends "layouts/base.twig" %}

{% block content %}

	<div class="front-page">
		<div class="page-content">
			<main>
				<img name="slide" class="sl">
			</main>
			<div class="left">
				<div class="left_item">
					<div class="all_blocks">
						<img src="app/themes/kuba/dist/images/smile.png" id="smile">
						<div class="first">
							<span id="tt">30 000</span>
							<span id="zado">zadowolonych klientów</span>
						</div>
						<img src="app/themes/kuba/dist/images/icont.png" id="pack">
						<div class="two">
							<span id="tt">100</span>
							<span id="zado">zamówień dziennie</span>
						</div>
						<img src="app/themes/kuba/dist/images/place.png" id="place">
						<div class="three">
							<span id="tt">200</span>
							<span id="zado">lokali i przedsiębiorstw</span>
						</div>
						<img src="app/themes/kuba/dist/images/laptop.png" id="laptop">
						<div class="four">
							<span id="tt">12000</span>
							<span id="zado">wykonanych usług</span>
						</div>
					</div>
				</div>
				<div class="tplace">
					<p id="title">Tworzymy profesjonalne strony internetowe</p>
					<BR>
					<p id="text">które są dostosowane do Twoich potrzeb. Oferujemy projektowanie, programowanie i wsparcie techniczne. Stworzymy unikalną stronę, która wyróżni Twój biznes online.</p>
				</div>
			</div>
			<div class="right">
         <p id="example">Przykłady wykonywanych usług:</p>
				<div class="links">
            
					<div class="block1">
               <a href=""><img src="app/themes/kuba/dist/images/1.png" id="a"></a>
               <p id="link1">Strony internetowe</p>
               </div>
					<div class="block2">
               <a href=""><img src="app/themes/kuba/dist/images/2.png" id="b"></a>
               <p id="link2">Aplikacje mobilne</p>
               </div>
					<div class="block3">
               <a href=""><img src="app/themes/kuba/dist/images/3.png" id="c"></a>
               <p id="link3">Design</p>
               </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
