{% extends "layouts/base.twig" %}

{% block content %}

	<div class="front-page">
		<div class="page-content">
			<main>
				<img name="slide" id="slider">
			</main>
			<div class="left-side-page">
				<div class="left_item">
					<div class="all_blocks">
						<img src="app/themes/kuba/dist/images/smile.png" class="image">
						<div class="block">
							<span class="title">30 000</span>
							<span class="text">zadowolonych klientów</span>
						</div>
						<img src="app/themes/kuba/dist/images/icont.png" class="image">
						<div class="block">
							<span class="title">100</span>
							<span class="text">zamówień dziennie</span>
						</div>
						<img src="app/themes/kuba/dist/images/place.png" class="image">
						<div class="block">
							<span class="title">200</span>
							<span class="text">lokali i przedsiębiorstw</span>
						</div>
						<img src="app/themes/kuba/dist/images/laptop.png" class="image">
						<div class="block">
							<span class="title">12000</span>
							<span class="text">wykonanych usług</span>
						</div>
					</div>
				</div>
				<div class="tplace">
					<p class="title">Lorem, ipsum dolor sit amet</p>
					<BR>
					<h2 class="text">consectetur adipisicing elit. Quidem aut quia harum totam consequuntur dicta itaque repellat distinctio, quam repudiandae eveniet accusamus vero esse odit assumenda iure dolores eum animi.</h2>
				</div>
			</div>
			<div class="right-side-page">
				<div class="links">
					<div class="block">
						<a href=""><img src="app/themes/kuba/dist/images/1.png" class="right-menu"></a>
						<p class="link">link1</p>
					</div>
					<div class="block">
						<a href=""><img src="app/themes/kuba/dist/images/2.png" class="right-menu"></a>
						<p class="link">link2</p>
					</div>
					<div class="block">
						<a href=""><img src="app/themes/kuba/dist/images/3.png" class="right-menu"></a>
						<p class="link">link3</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
