{% extends "layouts/base.twig" %}

{% block content %}

	<div class="front-page">
		<div class="page-content">
			<main>
				<button class="prev">prev</button>
				<img name="slide" id="slider">
				<button class="next">next</button>
			</main>
			<div class="left-side-page">
				<div class="left_item">
					<div class="all_blocks">
						<img src="app/themes/kuba/dist/images/person.png" class="image">
						<div class="block">
							<span class="title">0</span>
							<span class="text">zadowolonych klientów</span>
						</div>
						<img src="app/themes/kuba/dist/images/cart.png" class="image">
						<div class="block">
							<span class="title">0</span>
							<span class="text">zamówień dziennie</span>
						</div>
						<img src="app/themes/kuba/dist/images/place.png" class="image">
						<div class="block">
							<span class="title">0</span>
							<span class="text">lokali i przedsiębiorstw</span>
						</div>
						<img src="app/themes/kuba/dist/images/comp.png" class="image">
						<div class="block">
							<span class="title">0</span>
							<span class="text">wykonanych usług</span>
						</div>
					</div>
				</div>
				<div class="tplace">
					<p class="title">Usługi programisty webowego to projektowanie</p>
					<BR>
					<h2 class="text">tworzenie i utrzymanie stron internetowych oraz aplikacji. Programiści dbają o wydajność, bezpieczeństwo i dostosowanie do potrzeb klienta.</h2>
				</div>
			</div>
			<div class="right-side-page">
				<div class="links">
					<div class="block">
						<a href=""><img src="app/themes/kuba/dist/images/1.png" class="right-menu"></a>
						<p class="link">Strony internetowe</p>
					</div>
					<div class="block">
						<a href=""><img src="app/themes/kuba/dist/images/2.png" class="right-menu"></a>
						<p class="link">Aplikacje</p>
					</div>
					<div class="block">
						<a href=""><img src="app/themes/kuba/dist/images/3.png" class="right-menu"></a>
						<p class="link">Design</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
