{% extends "layouts/base.twig" %}

{% block content %}

	<div class="front-page">
		<div class="page-content">
			<main>
				<div class="allblocks">
					<button class="prev"><img class="arrow" src="app/themes/kuba/dist/images/ra.png" alt="left-arrow"></button>
					<img name="slide" id="slider">
					<button class="next"><img class="arrow" src="app/themes/kuba/dist/images/la.png" alt="right-arrow"></button>
				</div>
				<div class="tech">
					<img class="ico" src="app/themes/kuba/dist/images/html.png" alt="html">
					<img class="ico" src="app/themes/kuba/dist/images/css.png" alt="">
					<img class="ico" src="app/themes/kuba/dist/images/tailwind.png" alt="">
				</div>
				<div class="title">
					<p>latest projects</p>
				</div>
				<div class="latest-projects">
					<div class="ex"></div>
					<div class="ex"></div>
					<div class="ex"></div>
				</div>
				<div class="title">
					<p>Contact me</p>
				</div>
				<div class="all-contacts">
					<div class="contact-me-block">
						<form action="">
							<p>Name</p>
							<input type="text" name="name" id="name" class="title">
							<p class="formtitle">e-mail</p>
							<input type="email" name="mail" id="name" class="title">
							<p>Message</p>
							<input type="text" name="" id="name-lg" class="title">
							<input type="submit" value="send" class="button-send">
						</form>
					</div>
					<p class="titleor">or..</p>
					<div class"socials-block">
						<div class="social">
							<img id="socialimg" src="app/themes/kuba/dist/images/ig.png" alt="instagram">

						</div>
						<div class="social">
							<img id="socialimg" src="app/themes/kuba/dist/images/fb.png" alt="facebook">
						</div>
					</div>
				</div>
			</main>
		</div>
	{% endblock %}
